@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html {
  -webkit-tap-highlight-color: transparent;
} */

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin;
}

h3 {
  font-size: 3vmin;
}

h4 {
  font-size: 2vmin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;

}

.logo {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-weight: bold;
  color: #003566;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5.5vmin;
}

.imglogo {
  height: 5vmin;
  width: auto;
  margin: .5vmin;
}

* .nav {
  /* height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 2.5vmin;
  text-decoration: none; */
}

.mainContainer {
  /* width: 96%; */
  display: flex;
  flex-direction: row;
  /* margin-right: 4vmin; */
}

.leftContainer {}

.leftContainer {
  width: 17%;
  min-width: 17%;
}

.leftContainer div {}

.leftContainer a {
  text-decoration: none;
}


.rightContainer {
  width: 83%;
}

/* nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.root-layout {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #fff;
  background-color: rgb(0, 53, 102);
  font-family: 'Exo 2', sans-serif;
}

.item {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.Login h1 {
  font-size: 7vmin;
}

.Login img {
  height: 7vmin;
}

.login {
  margin-top: 2%;
}

.accent {
  color: #FFD60A;
}

.dark-accent {
  color: #003566;
}

.left-align {
  margin-top: 5%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.Login {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.budgetApp {
  /* width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: solid 1px black;
  background-color: rgb(0, 29, 61);
  color: white;
  font-family: sans-serif; */
}

.balance {
  /* margin-bottom: 1rem; */
}

.recentTransactions {
  /* width: 100%; */
}

.transactionList {
  /* list-style: none;
  padding: 0;
  margin: 0; */
}

.transactionItem {
  /* padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

.btn {
  /* background-color: lightblue; */
}

.login-body {
  /* background-image: url("./assets/images/bgbank.png"); */
}

.login {
  margin-top: 2.5%;
  padding: 2vmin;
  border-radius: 1.5vmin;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login h3 {
  padding: 1.5vmin;
  padding-top: 0;
}

.icons {
  height: 8vmin;
  color: #003566;
}

.icons-s {
  height: 3.5vmin;
}

.iconseffect {}

.homelogo {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-weight: bold;
  color: #003566;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3.5vmin;

  align-items: baseline;
}

.inputs input {
  border: none;
}

.inputs input {
  border: none;
}

/* Money Transfer styling */

.moneyTransfer {
  /* background-color: #fff;
  color: #333;
  padding: 20px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; */
}

.moneyTransfer div {
  /* margin-bottom: 5px; */
}

.logo-img {
  height: 3vmin;
  margin: .5vmin;
}

/* modal css */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;

  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}