@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html {
  -webkit-tap-highlight-color: transparent;
} */

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin;
}

h3 {
  font-size: 3vmin;
}

h4 {
  font-size: 2vmin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;

}

.logo {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-weight: bold;
  color: #003566;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5.5vmin;
}

.imglogo {
  height: 5vmin;
  width: auto;
  margin: .5vmin;
}

* .nav {
  /* height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 2.5vmin;
  text-decoration: none; */
}

.mainContainer {
  /* width: 96%; */
  display: flex;
  flex-direction: row;
  /* margin-right: 4vmin; */
}

.leftContainer {}

.leftContainer div {}

.leftContainer a {
  text-decoration: none;
}


.rightContainer {
  width: 80%;
  height: 80vh;
  margin-left: 2vmin;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

/* nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.icons-s {
  height: 3.5vmin;
}

.iconseffect {}

.homelogo {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-weight: bold;
  color: #003566;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3.5vmin;

}

.logo-img {
  height: 3vmin;
  margin: .5vmin;
}