@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin;
}

h3 {
  font-size: 3vmin;
}

h4 {
  font-size: 2vmin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  box-sizing: border-box;

}

.logo {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-weight: bold;
  color: #003566;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3.5vmin;
}

.imglogo {
  height: 4vmin;
  width: auto;
  margin: .5vmin;
}

* .nav {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 2.5vmin;
  text-decoration: none;
}

.mainContainer {
  width: 96%;
  display: flex;
  flex-direction: row;
  margin-right: 4vmin;
}

.leftContainer {
  width: 20%;
  height: 100%;
  border: solid 1px black;
}

.leftContainer div {
  justify-content: center;
  align-items: center;
}

.leftContainer a {
  text-decoration: none;
}


.rightContainer {
  width: 80%;
  height: 80vh;
  margin-left: 2vmin;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  background-color: #fff; 
}

/* nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.root-layout {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #fff;
  background-color: rgb(0, 53, 102);
  font-family: 'Exo 2', sans-serif;
}

.item {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.Login h1 {
  font-size: 7vmin;
}

.Login img {
  height: 7vmin;
}

.login {
  margin-top: 2%;
}

.accent {
  color: #FFD60A;
}

.dark-accent {
  color: #003566;
}

.left-align {
  margin-top: 5%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.Login {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.budgetApp {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: solid 1px black;
  background-color: rgb(0, 29, 61);
  color: white;
  font-family: sans-serif;
}

.balance {
  margin-bottom: 1rem;
}

.recentTransactions {
  width: 100%;
}

.transactionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transactionItem {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
  background-color: lightblue;
}

<<<<<<< HEAD
.login-body {
  background-image: url("./assets/images/bgbank.png");
}

.login {
  margin-top: 2.5%;
  padding: 2vmin;
  border-radius: 1.5vmin;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login h3 {
  padding: 1.5vmin;
  padding-top: 0;
}

.icons {
  height: 8vmin;
  color: #003566;
}

.icons-s {
  height: 3.5vmin;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.inputs input {
  border: none;
}

.inputs input {
  border: none;
}
=======
/* Money Transfer styling */

.moneyTransfer {
  background-color: #fff; 
  color: #333; 
  padding: 20px; 
  max-width: 100%; 
  margin: auto; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.moneyTransfer div {
  margin-bottom: 5px; 
}

.moneyTransfer div > div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.moneyTransfer button {
  background-color: #133f6d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.moneyTransfer button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.moneyTransfer form {
  display: flex;
  flex-direction: column;
}

.moneyTransfer label {
  margin-top: 10px;
  font-weight: bold;
}

.moneyTransfer input {
  padding: 8px;
  margin-top: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
>>>>>>> 3cf4887c8e7507ca7f01e70ba90d46268b434726
